*{


}

html, body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  box-sizing: border-box;
  font-family: 'Mandali', sans-serif;

}

.navbar{
	background: #124735;
	align-content: center;
}

.navbar-brand p{
	color: #ffffff;
}

.navbar-brand img{
	width:110px;
}

.navbar-nav ul li a{
	color: #fff;
	font-size: 155%;
}

.jumbotron{
	height: 100vh;
	background-image: url('./investing.jpg');
 	background-size: cover;
 	background-repeat: no-repeat;
 	box-sizing: border-box;
 	border-radius: 0px;

}


/*.jumbotron .overlay-cover{
  position: absolute; 
  width: 100vw; 
  height: 100vh;
  margin-top: 0;
  background-color: #256141;
  opacity: 0.5;
  z-index: 2; 
}
*/

.banner-text{
	margin-top: 3rem;
	color: #fff;
}

.btns .rf-btn{
	background-color: #124735;
	color: #fff;
	text-shadow: 0.5;
}

.btns .img-btn{
	background-color: #1c1c8e;
	color: #fff;
}

.row{
	margin-top: 2rem;
}

.feature_item{
	margin-bottom: 2rem;
}


.feature-card .icon{
	text-align: center;
}

.feature-card .icon i {
	align-items: center;
	color: #124735;
	font-size: 200%;
}

.feature-body h5{
	text-align: center;
	color: #124735;
	font-weight: bold;
	margin-top: 0.25rem;
}

.feature-body small{
	margin-left: .5rem;
	margin-right: .5rem;
}
